body {
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    background-color:DodgerBlue;
}

img {
    display: block;
    margin: auto;
}
form {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color:darkgray;
    cursor: pointer;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    padding: 14px 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}